<a href="https://colab.research.google.com/github/jullyoemmanuel/Tecnicas-de-machine-learning/blob/main/Aula_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 12 - Deep learning

In [1]:
#importando as bibliotecas
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
#carregando o dataset
df = pd.read_csv('/content/pima-data.csv.csv')

In [4]:
#primeiras cinco linhas
df.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,627.000,50,1.3780,True
1,1,85,66,29,0,26.6,351.000,31,1.1426,False
2,8,183,64,0,0,23.3,672.000,32,0.0000,True
3,1,89,66,23,94,28.1,167.000,21,9.0620,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [5]:
df.shape

(768, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num_preg      768 non-null    int64
 1   glucose_conc  768 non-null    int64
 2   diastolic_bp  768 non-null    int64
 3   thickness     768 non-null    int64
 4   insulin       768 non-null    int64
 5   bmi           768 non-null    float64
 6   diab_pred     768 non-null    float64
 7   age           768 non-null    int64
 8   skin          768 non-null    float64
 9   diabetes      768 non-null    bool
dtypes: bool(1), float64(3), int64(6)
memory usage: 54.9 KB

In [7]:
df.describe()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,347.079349,33.240885,49.252452
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,254.431659,11.760232,189.034756
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,165.000000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,295.500000,29.000000,1.300200
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,527.250000,41.000000,4.334000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,997.000000,81.000000,985.000000

In [8]:
diabetes_map = {True:1,False:0}
#aplicando o mapeamento
df['diabetes'] = df['diabetes'].map(diabetes_map)

In [10]:
#seleção de variáveis preditoras (Feature Selection)
atributos = ['num_preg', 'glucose_conc', 'diastolic_bp', 'thickness', 'insulin',
       'bmi', 'diab_pred', 'age']
#variável escolhida
atrib_prev = ['diabetes']

In [11]:
#criando objetos
X = df[atributos].values
Y = df[atrib_prev].values

In [12]:
X

array([[  6.    , 148.    ,  72.    , ...,  50.    ,   1.378 ,   1.    ],
       [  1.    ,  85.    ,  66.    , ...,  31.    ,   1.1426,   0.    ],
       [  8.    , 183.    ,  64.    , ...,  32.    ,   0.    ,   1.    ],
       ...,
       [  5.    , 121.    ,  72.    , ...,  30.    ,   9.062 ,   0.    ],
       [  1.    , 126.    ,  60.    , ...,  47.    ,   0.    ,   1.    ],
       [  1.    ,  93.    ,  70.    , ...,  23.    ,   1.2214,   0.    ]])

In [14]:
# criando dados de treino e de teste

X_treino,X_teste,Y_treino,Y_teste = \
  train_test_split(X,Y,test_size=0.20,shuffle = True, random_state = 42)

print(X_treino)
print(X_treino.shape)
print(X_teste.shape)

[[  2.      84.       0.     ...  21.       0.       0.    ]
 [  9.     112.      82.     ...  50.       9.456    1.    ]
 [  1.     139.      46.     ...  22.       7.486    0.    ]
 ...
 [ 10.     101.      86.     ...  38.       1.4578   1.    ]
 [  0.     141.       0.     ...  29.       0.       1.    ]
 [  0.     125.      96.     ...  21.       0.       0.    ]]
(614, 10)
(154, 10)

In [15]:
# retirar os valores missing ocultos

from sklearn.impute import SimpleImputer

# criando objeto

preenche_0 = SimpleImputer(missing_values = 0, strategy = 'mean')

#substituindo os valores iguais a zero, pela média dos dados

X_treino = preenche_0.fit_transform(X_treino)
X_teste = preenche_0.fit_transform(X_teste)

In [19]:
# criando o modelo preditivo com a uma multilayer perceptron

# classificador multilayer perceptron

from sklearn.neural_network import MLPClassifier

#criando o modelo preditivo

modelo = MLPClassifier(hidden_layer_sizes = (100,8,60,30,20,10,5),\
                       max_iter = 1000, random_state = 42)

#treinando o modelo

modelo.fit(X_treino, Y_treino.ravel())

#previsão para o conjunto de treino 
pred_train = modelo.predict(X_treino)
acc_train = metrics.accuracy_score(Y_treino,pred_train)
print('Accuracy treino: %.6f'%(acc_train))

#previsão para o conjunto de teste
pred_test = modelo.predict(X_teste)
acc_test = metrics.accuracy_score(Y_teste,pred_test)
print('Accuracy treino: %.6f'%(acc_test))

Accuracy treino: 0.697068
Accuracy treino: 0.675325